
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Oswald:wght@500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300&family=Quicksand:wght@300;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}


















/* Top nav */


.top-nav{
    background-color: #16192c;
    z-index: 1000;
}

.navElements{
    display:flex;
    align-items: center;
    justify-content:flex-end;
    gap:30px;
    font-size: 13px;
    color:white;
    padding: 20px 0;
    margin-right: 60px;
    font-family: 'EB Garamond', serif;
}


.navElements li{
    list-style-type: none;
}

.navElements a{
    color:white;
    text-decoration:none;
}


/* primaryNav */


.primaryNav{
    background-color: #ffff;
    
}

.primaryNavElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px; 
    margin-right: 40px;
    margin-top: -10px;
    font-size: 12px;

}

.primaryNavElements .right{
    margin-left: 49px;
}





.primaryNavElements li{
    list-style: none;
    
}

.primaryNavElements a{
    text-decoration: none;
    color: #16192c;
    font-family: 'EB Garamond', serif;
}

.mobileLogo{
    display:none;
}


.primaryNavElements .right,.left{
    display: flex;
    gap:25px;
    
}

.primaryNavElements .left{
    font-size: 20px;
    padding-bottom: 32px;
    gap:30px;

}



/* Hero */
.banner{
    width: 100%;
    
    margin: 0 auto;
    margin-top: -39px;
    
    
}

/*.banner img{
    border-radius: 13px;
}
*/

.mobile-banner {
    width: 100%;
 
    margin-top: -50px; 
    display:none;
}

.hero {
    position: relative;
}
     




.textOnBAnner {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 3%; /* Add right spacing */
    transform: translateY(-50%);
    color: #fff; /* Set the text color */
    padding: 20px; /* Add padding for better readability */
    transition: all 1.5s ease-in-out
}

.rightText {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:76px;
    transition: all 1.5s ease-in-out
}

.rightText img{
    width: 170px; 
    height: 220px;
    transition: all 0.5s ease-in-out
}


.rightText img:hover{
    scale: 1.1;
}



.leftText {
    max-width: 100%;
    
}

.text1 {
    font-size: 18px;
    padding:6px 0;
}

.text2 {
    font-size: 55px;
    line-height: 1.2;
    
}



.rightText{
    display: flex;
}

/* actual hero texts */
.heroText{
    display: flex;
    flex-direction: column;
    padding:20px 60px;
}

.Subtext{
    color:#16192c;
    padding:9px 0px;
    margin-bottom: 10px;
    font-size:36px;
    font-weight: 600;
 font-family: 'EB Garamond', serif;
}

.hamburgerMenu {
    display: none; 
}

.mainText{
    font-size:20px;
    font-family: 'EB Garamond', serif;
    padding-right: 13px;
   font-weight: 336;
   color:#333;
   letter-spacing:0.1px;
   width:92vw;
   margin-bottom: 55px;;
}

.heroCTA{
    padding:30px 0px;
    width:120px;
}

.heroCTAButton{
    color:white;
    background-color:#16192c;
    border-radius:7px;
    padding:10px;
    text-align: center;
    
}

.heroCTAButton a {
    color:white;
    text-decoration: none;
}

a, a:active, a:focus {
    outline: none;
}

.mobile-nav{
    display:none;
}


.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 238, 234); /* Adjust as needed */
    z-index: 1000;
}

.mobile-nav a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black; /* Adjust as needed */
    font-size: 14px;
    font-family: 'EB Garamond', serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size:29px;
}

hr{
    width:70%;
    margin:0 auto;
}

.heroText {
    max-width: 100%; /* Set the maximum width for the section */
    margin: 0PX 30PX;; /* Center the content */
}

.textContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:120px;
    align-items: center;
}



.textLeft img{
margin-top: 83px;
border-radius :9px;
}

.container {
    transform: scaleY(-1);
}

.pageTwo{
    display:flex;
    flex-direction: row;

  
}

.leftPageTwo{
    flex: 70%;
    background-color: #e8eef1;
    padding:20px 100px;
    border-right:1px solid black;
}

.leftPageTwo h5{
    font-size:19px;
    font-family: 'EB Garamond', serif;
}

.rightPageTwo{
    flex: 30%;
    background-color: #EEF5FF
}

.box1{
    background-color: white;
    border-left:3px solid green;
    margin-top:29px;
    border-radius:7px;
    transition: transform 1s ease-in-out;
}

.box1:hover {
    transform: scale(1.05);
    border-left-width: 5px; /* Increase the border width on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}

.title{
    font-size:14px;
    font-family: 'EB Garamond', serif;
}


.box-content{
    font-family: 'EB Garamond', serif;
    padding : 30px;
    display:flex;
    flex-direction: column;
    gap:12px;
}

.boxhr{
   margin-left:0px;
   margin-top:7px;
}

.box-content p{
    color:green;
}

.box-learnMore {
    margin-top:37px;
    
}

.box-learnMore a{
    color: green;
}


.rightPageTwo{
    padding:20px 22px;
    

}

.rightPageTwoTi{
    margin-top:3px;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

.boxrightPageTwo{
    margin:22px 0px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:29px;
    border-radius:3px;
    padding:9px;
    border-left: 2px solid black;
    transition: transform 1s ease-in-out;
}

.boxrightPageTwo:hover {
    transform: scale(1.05);
    border-left-width: 5px; /* Increase the border width on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}

.Event{
    display: flex;
    flex-direction:column;
    font-family: 'EB Garamond', serif;
}

.date{
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    margin: -2px 7px;
}

.EventTitle{
    font-size:14px;
    
}

.EventTitle a{
    color:black;
    text-decoration: none;
}

.eventTime{
    margin-top:12px
}

.EventLearnMore{
    margin-top:12px;
}

.EventLearnMore a{
    color:black;
}


.associatedBodies{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content:center;
    background-color: #e4e5e9;
}

.associatedTitle{
    margin:20px 0px;
    font-family: 'EB Garamond', serif;
    font-size: 19px;
   

}

.associatedWebsites {
    display: flex;  /* Use flex container */
    gap: 3px;
}

.assoc1, .assoc2, .assoc3 {
   
}

.contactUs {
    font-family: 'EB Garamond', serif;
    max-width: 70%;
    padding:50px 100px;

    margin: 10px auto;
    
}

.contactUs legend {
    font-size: 1.2em;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #5a5757;
    border-radius: 4px;
}

fieldset{
    padding:20px 20px;
    border-radius: 10px;;
}

legend{
    border-radius:7px;
}

#message{
    height:120px;
}

.form-group{
    margin-top:26px;
}

.form-group .error-message {
    color: red;
}

.form-group.success input,
.form-group.success textarea {
    border-color: green;
}

.form-group.error input,
.form-group.error textarea {
    border-color: red;
}

.submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.footer-content{
    background-color:#16192c;
    padding: 70px 100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    font-family: 'EB Garamond', serif;
   font-size: 15px;
    
}

.one,.two,.three{
display:flex;
flex-direction: column;
gap:27px;

}

.assocName,.contactInfoTitle,.LinksTitle{
    font-size: 23px;
    text-decoration: underline;
   
}

.three .LinksTitle{
    margin-bottom:-22px
}

.contactDetails{
    display: flex;
    flex-direction: column;
    gap:7px;
}

.otherLinks li a{
    color:white;

}
/* DROP DOWN CSS */
/* Style the dropdown button and container */
.dropbtn {
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:32px;
    padding: 11px 16px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
   
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}


.execPictures {
    display: flex;
    justify-content: space-evenly; 
    gap: 30px;
}

.execPictures {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pic {
    width: 198px;
    height: 275px;
    margin-right: 60px; 
    display: flex;
    flex-direction: column;
}


.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  
   
}

.image img {
width: 100%;
height: auto;
object-fit: contain;
border-radius: 7px;
}

.image {
    width: 198px;
    height: 275px;
    margin-right: 10px; 
    margin-top: 0px;
    display: flex;
   
}

.imageDetails {
   display:flex;
   flex-direction: column;
   font-family: 'EB Garamond', serif;
   gap:4px;
   margin-top: 22px;;
}

.heroText ul li {
    padding:9px;
}

.tag{
    border:2px solid green;
    width:49px;
    color:green;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-news{
    border:2px solid purple;
    width:49px;
    color:purple;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.together{
    display: flex;
    gap:10px;
}

.Execname {
    font-weight: 700;
}

.EventNew{
    display: flex;
    align-items: center;
    gap:0px;
    margin-top: -35px;;
}


.EventPageMonth{
    font-family: 'EB Garamond', serif;
    font-size: 24px;
   
}
.EventNew2{
    display: flex;
    align-items: center;
    gap:0px;
    margin-top: 44px;
}

.EventHr{
    opacity:0.4;
    margin-top: 17px;;
}

.actualEvents{
    font-family: 'EB Garamond', serif;
    Margin-top:50px;
    display:flex;
    gap:50px;
    align-items: center;
    justify-content:flex-start;
}

.actualEventDate{
    font-weight: 600;
}

.EventBrief{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.actualEventTitle{
    font-weight: 700;
    font-size: 22px;
    

}

.delivery{
    font-weight: bolder;
}

.actualBrief{
    width:70vw;
}

.Subtext-constitution{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#16192c;
    padding:9px 0px;
    margin-bottom: 10px;
    font-size:22px;
    font-weight: 600;
    font-family: 'EB Garamond', serif;

}
.textRight h3{
    font-family: 'EB Garamond', serif;
    font-size: 23px;
}

.textRight li{
    margin-left:42px;
}

.signature{
    padding:30px 0px;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
}












/*HOVER ANIMATIONS ON NAVIGATIONS*/

/* Hover animation for ".Subtext" in ".heroText" section */
.text1 , .text2 {
    transition: transform 1s;
  }
  
  .text1:hover , .text2:hover{
    transform: scale(1.1);
  }

  .heroCTAButton{
    transition: transform 1s;
  }

  .heroCTAButton:hover{
    transform: scale(1.1);
  }

  




/* Underline styles for ".top-nav" navigation items */
.top-nav .navElements li a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Underline animation */
  .top-nav .navElements li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .top-nav .navElements li a:hover::after,
  .top-nav .navElements li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  















/* Underline styles for ".left" navigation items */
.primaryNav .left li a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Underline animation */
  .primaryNav .left li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #265741;;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .primaryNav .left li a:hover::after,
  .primaryNav .left li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }


  .pic {
    position: relative;
}

.history{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130%;
    background: rgba(255, 255, 255, 0.9); /* Adjust the background color and opacity as needed */
    padding: 10px;
    border:2px solid #16192c;
    border-radius:7px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.pic:hover .history {
    visibility: visible;
    opacity: 1;
}



.mainText h4{
    margin-right:-90px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    flex: 1 0 200px;
    margin: 10px;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;

    border-radius: 3px;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  

  .Subtext-gallery{
 display:flex;
    align-items:center;
    justify-content:center;
    color:#16192c;
    padding:9px 0px;
    margin-bottom: 10px;
    font-size:22px;
    font-weight: 600;
    font-family: 'EB Garamond', serif;
  }

  .Subtextt{
    color:#16192c;
    padding:9px 0px;
    margin-bottom: 10px;
    font-size:36px;
    font-weight: 600;
    font-family: 'EB Garamond', serif;
    margin-top: 50px;
  }

  .subcomm{
    font-family: 'EB Garamond', serif;
  }

  .subcomm ol {
    margin-top: 10px;
    font-size:19px;
  }


  .mainText2{
    transition: all ease-in-out;
  }




/******MEDIA QUERIES*************************/
@media (max-width: 768px) {
    /* Styles for phones go here */
    body {
        font-size: 13px;
      
    }

    .primaryNavElements .right{
        margin-left:-3px;

    }

    .navElements{
        display:none;
    }

    

    .textLeft img{
        display: none;
        }

        .textContainer {
            gap: 10px;
            margin-left: -29px;
            width:370px
        }
    
        .heroText {
            padding: 10px; /* Adjust padding for smaller screens */
        }
    
        .textLeft img {
            width: 100%;
            height: auto; /* Maintain aspect ratio */
        }

        .heroCTAButton{
            margin-top: 10px;
        }
   

    .banner{
        display: none;
    }

    .mobile-banner {
    display:block;
    width:100%;
    margin:0 auto;
    
     
    }

    .mobile-banner img{
        
    }


    .textOnBAnner {
        display: flex;
        flex-direction: column; /* Align items in a column */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the element */
        color: #fff; /* Set the text color */
        padding: 15px; /* Add padding for better readability */
        width:100%
    }
    

    .text1 {
        font-size: 18px;
        padding:9px 0;
        margin-right:8px;
    }
    
    .text2 {
        font-size: 35px;
        padding: 0 9px;
      }

      .leftText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

.rightText {
    display:none;
}

.heroText{
    padding:10px 10px;
    margin-left:px;
    margin-right: px;

}




.Subtext{
    font-size: 20px;

}

.Subtext-constitution{
    font-size: 12px;

}

.mainText{
    font-size:16px;
    width:94vw;
}


.desktopLogo{
    display:none;
}

.mobileLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%; /* Ensure the container takes up the full height */
}

.mobileLogo a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%; /* Ensure the link takes up the full height */
}

.left{
    display:none;
}

a, a:active, a:focus {
    outline: none;
}


.hamburgerMenu {
    display: block; /* Show on smaller screens */
    color: #0e8753;
    font-size: 23px;
    margin-left: 109px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.primaryNavElements{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px 40px;
    padding-bottom: 17px;
}

.mobile-nav{
    display:none;
}

ul{
    margin-top:18px;
    display:flex;
    flex-direction:column;
    gap:12px;
    list-style: none;
    
}


.pageTwo{
    display:flex;
    flex-direction: column;
}

.leftPageTwo{
    background-color: #e8eef1;
    padding:20px 20px;
    border-right:1px solid black;
}

.box1{
    border-radius: 7px;
}

.box-learnMore {
    margin-top:17px;
    
}

.contactUs {
    font-family: 'EB Garamond', serif;
    max-width: 100%;
    padding:10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.associatedBodies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #e4e5e9;
}

.associatedWebsites{
    display: flex;
}


.footer-content{
    display: flex;
    flex-direction: column;
    gap:50px;
    font-size: 15px;
    align-items: center;
    justify-content:flex-start;
    

}

.one, .two, .three{
    margin-left: -180px;;

}

.two{
    margin-left: -90px;
    font-size: 13px;;
}

.three{
    margin-left: -260px;
}

.assocName,.contactInfoTitle,.LinksTitle{
    font-size: 11px;
    text-decoration: underline;
   
}

.contactInfoTitle{
    margin-left: 0px;  
}



.contactDetails{
    display: flex;
    flex-direction: column;
    gap:7px;
    margin-top: -20px;
}

.otherLinks li a{
    color:white;

}

.execPictures {
    display: flex;
    justify-content: space-evenly; 
    gap: 30px;
}

.execPictures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pic {
    width: 198px;
    height: 275px;
    margin-right: 60px; 
    display: flex;
    flex-direction: column;
    
}


.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image img {
width: 100%;
height: auto;
object-fit: contain;
}

.image {
    width: 198px;
    height: 275px;
    margin-right: 10px; 
    margin-top: 0px;
    display: flex;
    border:3px solid #16192c;
    border-radius: 7px;;
   
}

.imageDetails {
   display:flex;
   flex-direction: column;
   font-family: 'EB Garamond', serif;
   gap:4px;
   margin-top: 22px;;
}

.Execname {
    font-weight: 700;
}








}








/* tablet media query    */
@media (min-width: 601px) and (max-width: 1023px) {
    .textContainer {
        gap: 15px; /* Adjust the gap for tablet screens */
    }

    .heroText {
        padding: 11px; /* Adjust padding for tablet screens */
       
    }

    .primaryNavElements .left{
        font-size: 16px;
        padding-bottom: 32px;
        gap:20px;
    
    }

    .footer-content{
        background-color:#16192c;
        padding: 50px 50px 100px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        color:white;
        font-family: 'EB Garamond', serif;
       font-size: 15px;
        
    }

    .text2{
        font-size: 33px;;
    }

    .Subtext{
        font-size:23px
    }

    .mainText{
        font-size: 16px;
        width:94vw
    }

    .heroCTAButton{
        margin-top: -10px;

    }

    .textLeft img{
        margin-top: 83px;
        border-radius :9px;
        display:none;
    }

    .leftPageTwo{
        flex: 60%;
        background-color: #e8eef1;
        padding:20px 100px;
        border-right:1px solid black;
    }

    
.execPictures{
    display:flex;
    flex-wrap: wrap;
}

.textOnBAnner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    
    right: 3%; /* Add right spacing */
    transform: translateY(-50%);
    color: #fff; /* Set the text color */
    padding: 20px; /* Add padding for better readability */
}

.rightText img{
    width: 110px; 
    height: 150px;
}

    
}