
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Oswald:wght@500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300&family=Quicksand:wght@300;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

















/* Top nav */


.top-nav{
    background-color: #265741;
}

.navElements{
    display:flex;
    align-items: center;
    justify-content:flex-end;
    gap:30px;
    font-size: 13px;
    color:white;
    padding: 20px 0;
    margin-right: 60px;
    font-family: 'EB Garamond', serif;
}

.navElements li{
    list-style-type: none;
}

.navElements a{
    color:white;
    text-decoration:none;
}


/* primaryNav */


.primaryNav{
    background-color: #ffff;
    
}

.primaryNavElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px; 
    margin-right: 40px;
    margin-top: -10px;
    font-size: 12px
}


.primaryNavElements li{
    list-style: none;
    
}

.primaryNavElements a{
    text-decoration: none;
    color: #265741;
    font-family: 'EB Garamond', serif;
}

.mobileLogo{
    display:none;
}


.primaryNavElements .right,.left{
    display: flex;
    gap:25px;
    
}

.primaryNavElements .left{
    font-size: 20px;
    padding-bottom: 32px;
    gap:30px;

}



/* Hero */
.banner{
    width: 98%;
    
    margin: 0 auto;
    margin-top: -39px;
    
    
}

.banner img{
    border-radius: 13px;
}

.mobile-banner {
    width: 100%;
 
    margin-top: -50px; 
    display:none;
}

.hero {
    position: relative;
}
     




.textOnBAnner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 3%;
    right: 3%; /* Add right spacing */
    transform: translateY(-50%);
    color: #fff; /* Set the text color */
    padding: 20px; /* Add padding for better readability */
}

.rightText {
    text-align: right; /* Align the text to the right */
}


.leftText {
    max-width: 100%;
    
}

.text1 {
    font-size: 18px;
    padding:6px 0;
}

.text2 {
    font-size: 55px;
    line-height: 1.2;
    
}



.rightText{
    display: flex;
}

/* actual hero texts */
.heroText{
    display: flex;
    flex-direction: column;
    padding:20px 60px;
}

.Subtext{
    color:#265741;
    padding:9px 0px;
    margin-bottom: 10px;
    font-size:36px;
    font-weight: 600;
 font-family: 'EB Garamond', serif;
}

.hamburgerMenu {
    display: none; 
}

.mainText{
    font-size:20px;
    font-family: 'EB Garamond', serif;
    padding-right: 13px;
   font-weight: 336;
   color:#333;
   letter-spacing:0.1px;
}

.heroCTA{
    padding:30px 0px;
    width:120px;
}

.heroCTAButton{
    color:white;
    background-color:#265741;
    border-radius:7px;
    padding:10px;
    text-align: center;
}

.heroCTAButton a {
    color:white;
    text-decoration: none;
}

a, a:active, a:focus {
    outline: none;
}

.mobile-nav{
    display:none;
}


.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 238, 234); /* Adjust as needed */
    z-index: 1000;
}

.mobile-nav a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black; /* Adjust as needed */
    font-size: 14px;
    font-family: 'EB Garamond', serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size:29px;
}

hr{
    width:70%;
    margin:0 auto;
}

.quoteImage{
    display: flex;
}

/*HOVER ANIMATIONS ON NAVIGATIONS*/

/* Hover animation for ".Subtext" in ".heroText" section */
.text1, .text2 {
    transition: transform 1s;
  }
  
  .text1:hover , .text2:hover{
    transform: scale(1.1);
  }

  .heroCTAButton{
    transition: transform 1s;
  }

  .heroCTAButton:hover{
    transform: scale(1.1);
  }

  




/* Underline styles for ".top-nav" navigation items */
.top-nav .navElements li a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Underline animation */
  .top-nav .navElements li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .top-nav .navElements li a:hover::after,
  .top-nav .navElements li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  















/* Underline styles for ".left" navigation items */
.primaryNav .left li a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Underline animation */
  .primaryNav .left li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #265741;;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .primaryNav .left li a:hover::after,
  .primaryNav .left li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  







/******MEDIA QUERIES*************************/
@media (max-width: 768px) {
    /* Styles for phones go here */
    body {
        font-size: 13px;
    }

    .navElements{
        display:none;
    }

   

    .banner{
        display: none;
    }

    .mobile-banner {
    display:block;
    width:97%;
    margin:0 auto;
    
     
    }

    .mobile-banner img{
        border-radius:13px;
    }


    .textOnBAnner {
        display: flex;
        flex-direction: column; /* Align items in a column */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the element */
        text-align: center;
        color: #fff; /* Set the text color */
        padding: 15px; /* Add padding for better readability */
        width:100%
    }
    

    .text1 {
        font-size: 18px;
        padding:9px 0;
    }
    
    .text2 {
        font-size: 35px;
        line-height: 1.2;
        
}

.rightText {
    display:none;
}

.heroText{
    padding:20px 20px;
}




.Subtext{
    font-size: 20px;

}

.mainText{
    font-size:16px;
}


.desktopLogo{
    display:none;
}

.mobileLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%; /* Ensure the container takes up the full height */
}

.mobileLogo a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%; /* Ensure the link takes up the full height */
}

.left{
    display:none;
}

a, a:active, a:focus {
    outline: none;
}


.hamburgerMenu {
    display: block; /* Show on smaller screens */
    color: #0e8753;
    font-size: 23px;
    margin-left: 102px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.primaryNavElements{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px 40px;
    padding-bottom: 17px;
}

.mobile-nav{
    display:none;
}

}



/* tablet media query    */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .primaryNavElements .left{
        font-size: 18px;
    }
}